* {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

html,
body {
  margin: 0 auto;
}

header {
  background: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 55px;
}

header > img {
  width: 24px;
  margin-right: 7px;
}

header > h1 {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Inter;
}

/* Entry */
article {
  margin: 40px;
}

.entry > img {
  width: 125px;
  height: 168px;
  border-radius: 5px;

  margin-right: 15px;
}

.entry {
  align-items: center;
  padding: 0;
}

/* Lcoation info */
.location-info {
  align-items: center;
  margin-top: 25px;
  padding: 0;
  gap: 5px;
}

.marker {
  width: 7px;
  height: 9.55px;
  margin-right: 4px;
}

.country-name {
  color: #2b283a;
  margin-right: 10px;
  font-size: 0.64rem;
  letter-spacing: 17%;
  font-weight: 400;

  margin: 0;
  padding: 0;
}

.googlemap-link {
  color: #918e9b;
  font-weight: 400;
  font-size: 0.64rem;
}

/* Location details */
.location-details {
  padding: 0;
  margin: 0;
}

.location-name {
  color: #2b283a;
  font-size: 1.56rem;
  font-weight: 700;

  padding: 0;
  margin: 10px 0;
}

.visited-date {
  color: #2b283a;
  font-size: 0.64rem;
  font-weight: 700;
}

.description {
  color: #2b283a;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.5;

  /* make long texts appear as ...  */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Utilities */
.flex {
  display: flex;
}

.flex-column {
  display: flex-column;
}
